[Unit]
Description=PowerVR consumer services
Before=weston.service

[Service]
ExecStart=/usr/lib/locale/bin/rc.pvr start
ExecStop=/usr/lib/locale/bin/rc.pvr stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
RequiredBy=weston.service
